@import "icons.css";
@import "scale.css";
@import "./atoms";
@import "./layouts";
@import "./molecules";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: 700;
}
