.PersonInformation {
  @apply px-[1.5rem] py-[2.5rem];
  @media screen(laptop) {
    padding: calc(4rem * var(--scale)) calc(10rem * var(--scale));
  }

  ul {
    @apply mt-[1rem] mb-[2rem];
    @media screen(laptop) {
      margin-top: calc(1rem * var(--scale));
      margin-bottom: calc(2.5rem * var(--scale));
    }
  }
}
